.font-main-detail {
    text-align: center;
    padding: 45px 0 30px;
    border: 1px solid #e44cc4;
    border-radius: .1875rem;
    margin: 15px 0;
    min-height: 828px;
    background-image:url( "src/assets/img/fkbono.png" );
    background-repeat:no-repeat;
    background-position : center;
    background-size:cover;
  }

.font-main-button {
    
    right:10px;
    padding:10px;
}

