<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
            <div class="form-group purple-border-focus">
                <label for="exampleFormControlTextarea5">Diary works!</label>
                <textarea class="form-control" id="exampleFormControlTextarea5" rows="3"></textarea>
              </div>
        </div>
    </div>
</div>

<button type="button" class="btn btn-primary">Save</button>

<button (click)="onSaveClick()">Save</button>